 #container{
border: 1px solid blue;
width:800px;
height:400px;
text-align:center;
padding:10px;	}
		#header{
border: 1px solid blue;
width:800px;
height:50px;
background-color: pink;
text-align:center;
margin-bottom:10px;
	}
	#navigation{
border: 1px solid blue;
width:800px;
height:50px;
background-color: pink;
text-align:center;
margin-bottom:10px;
	}

	#middle{border: 1px solid blue;
		width:800px;
		height: 150px;
		margin-bottom:10px;
		overflow:auto;
	}
	#footer{
border: 1px solid blue;
width:800px;
height:50px;
background-color: pink;
text-align:center;
margin-bottom:10px;
overflow:auto;}
	
	#sidebar{
		border: 1px solid blue;width: 30%;
		height:120px;
		margin-top:10px;
		float:left;
		background-color: pink;
	margin-bottom:10px;
margin-left: 5px;}
	#main{
		border: 1px solid blue;
		width: 60%;
		height:120px;
		margin-top:10px;
		float:right;
	background-color: pink;
margin-bottom:10px;
margin-right: 5px;}
#sider{
	border: 1px solid blue;
	width: 40%;
		height:30px;
		margin-top:10px;
		margin-left: 5px;
		float:left;
	background-color: red;
margin-bottom:10px;}
#tool{border: 1px solid blue;
	width: 40%;
		height:30px;
		margin-top:10px;
		float:right;
	background-color: red;
margin-bottom:10px;
margin-right: 5px;}
#contains{border: 1px solid blue;
		height:20px;
		margin-top:40px;
		margin-left: 5px;
		margin-right: 5px;
	background-color: red;
margin-bottom:10px;}